@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #fff;
}

.content {
    margin: 3% auto;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
}

.container-fluid {
    font-size: 1.5rem;
}

.card-content {
    width: 100%;
    margin: auto;
}

.card {
    border: none;
    background-color: #f5f6fa;
}

.card-body {
    padding: 0%;
}

.card-home {
    background-color: #f5f6fa;
    padding: 1rem;
}

.btn-warning,
.btn-danger,
.btn-primary,
.btn-secondary {
    color: #fff;
    border: none;
    border-radius: 0px;
    width: 120px;
}

.btn-warning:hover,
.btn-danger:hover,
.btn-primary:hover,
.btn-secondary:hover {
    color: #fff;
    transition: all ease-in-out 0.8s;
}

.btn-warning {
    background-color: #e58e26;
}

.btn-warning:hover {
    background-color: #fa983a;
}

.btn-danger {
    background-color: #ee5253;
}

.btn-danger:hover {
    background-color: #c0392b;
}

.btn-primary {
    background-color: #1abc9c;
}

.btn-primary:hover {
    background-color: #16a085;
}

.btn-secondary {
    background-color: #34495e;
}

.btn-secondary:hover {
    background-color: #2c3e50;
}

.edit_post {
    background-color: #f5f6fa;

}

.profile-welcome-content {
    width: 70%;
    margin: 2% auto;
    background-color: #fff;
}

.user-logo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: solid 1px #1dd1a1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.col-2 {
    padding: 0;

}

.signin-text {
    font-style: normal;
    font-weight: 600 !important;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

.btn-class {
    background-color: #00ac96;
    color: #fff;
    border-radius: 0px;
}

.btn-class:hover {
    background-color: #55efc4;
    color: #fff;
    transition: all ease-in-out 0.8s;
}

.small-text {
    font-size: 0.8rem;
}

.small-text span>a {
    text-decoration: none;
    color: #00ac96;
}

.small-text span>a:hover {
    text-decoration: underline;
}

.gallery {
    background-color: #fff;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.row .column {
    flex: 33.3%;
    width: auto;
    overflow: hidden;
    padding: 0 4px;
    height: 100%;
}

.row .column img {
    margin-top: 2%;
    width: 100%;
    height: 100%;
    cursor: pointer;
    filter: brightness(0.5);
    transition: 0.3s linear;
}

.row .column img:hover {
    filter: brightness(1);
}

img {
    width: 100%;
}

.add_post {
    background-color: #f5f6fa;
    padding: 20px;
}

.post_input_row {
    justify-content: center;
    color: #353b48;
}

.form-control.text-area,
.form-control.post-image,
.form-control.post-title,
.form-control.image-url {
    border-color: #495057 !important;
    border-style: none !important;
    padding: 10px !important;
}

.col-form-label,
.form-label {
    color: #353b48;
    font-size: large;
    font-weight: 400;
}

.search-box {
    border: none;
}

.search-text {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.5;
    border-color: #00ac96 !important;
    border-style: solid !important;
    border-width: 0 0 1px 0 !important;
    padding: 0px !important;
    color: #495057;
    height: auto;
    border-radius: 0;
    background-color: #fff;
    background-clip: padding-box;
}

.search-text:focus {
    color: #495057;
    background-color: #fff;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
}

button.search-btn {
    border: none;
    background: none;
}

.search-btn i {
    color: #00ac96;
}

.bg-light {
    background-color: white !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #353b48 !important;
}

.navbar-collapse {
    flex-grow: unset;
}

.post-card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
}


@media only screen and (max-width: 800px) {
    .row .column {
        flex: 50%;
    }

    .search-text {
        font-size: 1.5rem;
    }

    .container {
        padding: 0;
    }

    .foodies-logo {
        height: 75%;
        width: 75%;
    }
}

@media only screen and (max-width: 420px) {
    .content {
        margin: 2% auto;
        padding: 0;
    }

    .row .column {
        flex: 100%;
    }

    .search-text {
        font-size: 1.2rem;
    }

    .foodies-logo {
        height: 50%;
        width: 50%;
    }

    .container-fluid {
        font-size: 0.8rem;
    }
}